<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rootFolder" value="E:\Media"/>
    <add key="dataFilePathAndName" value="App_Data\E_Media_DirectoryMap.xml"/>
    <add key="compareFilePathAndName" value="App_Data\H_OData_DirectoryMap.xml"/>
    <add key="compareResultsFilePathAndName" value="App_Data\CompareResult_04Aug2019.xml"/>
    <add key="syncDestRootFolder" value="H:\OData\Syncup_04Aug2019" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>